<!doctype html>
<html lang="en">
<head>
    <title>My goat site</title>
</head>
<body>

    {{!-- Use the 'page-title' partial loaded from 'src/partials/page-title.hbs' --}}
    {{> page-title text="Homepage" }}

    <a href="goats/are/great.html">Goat memes</a>

</body>
</html>
